#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black background */
    z-index: 9999;
    /* ensure it's on top of other content */
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 700px;
    /* Optional: Limit the maximum width of the modal */
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-img {
    width: 200px;
    height: 200px;
    position: relative;

}

.photographer__content2 .header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

form textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
}


.photographer-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photographer-media div {
    width: 800px;
    margin: 20px;
    border: #901C1C solid 5px;
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
}

.photographer-media div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error {
    color: red;
    font-size: 14px;
    display: none;
    /* Initially hide error messages */
    margin-top: 5px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
    display: flex;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}