#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black background */
    z-index: 9999;
    /* ensure it's on top of other content */
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    /* Optional: Limit the maximum width of the modal */
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;

}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: start;
    margin-bottom: 18px;


}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    font-size: 34px;
}

input[type="email"] {
    font-size: 34px;
}


.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-img {
    width: 200px;
    height: 200px;
    position: relative;

}

.photographer__content2 .header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

form textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    font-size: 34px;
}


.photographer-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photographer-media div {
    width: 800px;
    margin: 20px;
    border: #901C1C solid 5px;
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
}

.photographer-media div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error {
    color: #720000;
    font-size: 18px;
    /* Initially hide error messages */
    margin-top: 5px;
}


.photographer__content2 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    height: 100vh;
}

.photographer__content2 img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

/* Lightbox container */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 9999; /* Ensure it's above other elements */
    overflow: auto;
    text-align: center;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* Navigation buttons */
.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other elements */
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}



/*.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
    display: flex;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}