
#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black background */
    z-index: 9999;
    /* ensure it's on top of other content */
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    /* Optional: Limit the maximum width of the modal */
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;

}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: start;
    margin-bottom: 18px;


}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    font-size: 34px;
}

input[type="email"] {
    font-size: 34px;
}


.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-img {
    width: 200px;
    height: 200px;
    position: relative;

}


/* reset CSS */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  /* Positionnement du dropDown */
  .dropDown{
    position:relative;
    width:170px;
  }
  
  /*  Réglage du résumé quand dropdown fermé */
  .dropDown>summary {
    list-style:none;
    background: #901C1C;
    color:white;
    text-transform:capitalize;
    padding:10px 20px;
    border-radius: 5px;
    display:flex;
    justify-content:space-between;
  }
  
  /*  Réglage du dropDown ouvert */
  .dropDown>.options {
    position:absolute;
    color:white;
    overflow:hidden;
    top:0;
    left:0;
    border-radius: 5px;
    width:100%;
    height:fit-content;
    background: #901C1C;
  }
  .dropDown>.options>* {
    position:relative;
    padding:10px 20px;
    text-transform:capitalize;
    display:flex;
    justify-content:space-between;
  }
  .dropDown>.options>*::after {
    content:"";
    position:absolute;
    display:block;
    width:calc(100% - 40px);
    bottom:0;
    left:20px;
    margin:0 auto;
    height:1px;
    background:white;
  }
  .dropDown>.options>*:last-child::after {
    display:none;
  }

.photographer__content2 .header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

form textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    font-size: 34px;
}


.photographer-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photographer-media div {
    width: 800px;
    margin: 20px;
    border: #901C1C solid 5px;
    border-radius: 20px;
    overflow: hidden;
    height: 400px;
    cursor: pointer;
}

.photographer-media div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photographer-media div video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error {
    color: #720000;
    font-size: 18px;
    /* Initially hide error messages */
    margin-top: 5px;
}


.photographer__content2 {

    align-content: center;
    height: 100vh;
}

.photographer__content2 img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}



/* Lightbox container */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Couvrir toute la largeur de la vue */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 9999; /* Ensure it's above other elements */
    overflow: hidden;
    text-align: center;
    margin: 0;
    
}

#lightbox .media-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajuster la largeur de la div parent */
    height: 80%; /* Ajuster la hauteur de la div parent */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center;
    overflow: hidden; /* Empêcher le contenu de déborder */
    }
.media-container {
    overflow: hidden; /* Empêcher le contenu de déborder */
    max-width: 80%; /* Limiter la largeur du média à 80% de la largeur de la vue */
    margin: 0 auto; /* Centrer horizontalement le média */
}

.media-container img,
.media-container video {
    max-width: 100%; /* Assurer que les images et vidéos ne dépassent pas la largeur de la div parent */
    max-height: 100%; /* Assurer que les images et vidéos ne dépassent pas la hauteur de la div parent */
    object-fit: contain; /* Ajuster la taille de l'image pour s'adapter à la div parent */

}

.closeLightbox {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 50px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0.5;
    transition: 0.3s;
}

.closeLightbox:hover{
    opacity: 1;
}
.closeLightbox .close-icon {
    /* Styles spécifiques à l'icône de fermeture */
    margin-top: 0; /* Réinitialisez la marge supérieure si nécessaire */
}
.closeIcon img {
    margin: 0;
    width: 50px;
    height: 50px;
}


/*creation du bouton précédent*/
.button_prev {
    position: fixed;
    width: 10%;
    height: 70%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
    flex: 1; /* Prendre l'espace disponible de manière égale */

}
.button_prev:hover{
    opacity: 1;
}

/*creation du bouton suivant*/
.button_next {
    position: fixed;
    width: 10%;
    height: 70%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
    flex: 1; /* Prendre l'espace disponible de manière égale */

}
.button_next:hover{
    opacity: 1;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}



/*.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
    display: flex;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}